<div class="landing">
		<h1>task<span class="labs">Manager</span></h1>
		<p>Manage Your Own Task</p>
		<%= link_to "Sign In", login_path, class: "btn btn-success landing-btn" %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-info landing-btn" %>
</div>
