.row {
  margin: 15px 20px ;
}
.glyphicon-ok {
  border: 1px solid;
  padding: 5px;
  border-radius: 50px;
  font-weight: 100;
  margin-right: 10px;
  opacity: 0.4;
}

@import "bootstrap-sprockets";
@import "bootstrap";


body{
  background: url("https://hdqwalls.com/download/dark-night-landscape-artistic-7v-2048x1152.jpg") no-repeat center center fixed;
  color: black;
  font-family: 'Inconsolata', monospace;
}

.container-box {
  border-radius: 7px;
  background: white;
  box-shadow: 0px 0px 10px 10px;
  height: 100%;
  padding-top: 40px;
}

.heading {
  text-align: center;
  padding: 20px;
}

.category  {
  color: black;
}
select {
  width: 17%;
}
.alert {
  margin-top: 20px;
}
.container li {
  list-style: none;
}

.logout-btn {
  text-align: right;
}

.landing {
	text-align: center;
	z-index: 1;
	position: relative;
	top: 35vh;
	color: white;
}

.landing h1 {
	font-size: 3em;
}
.landing p {
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.landing .manager{
	color:#15C515;
}
.landing-btn {
  margin: 0px 15px;
  letter-spacing: 1px;
}
h1,h2,h3,h6 {
  color: white;
}
a:hover {
  text-decoration: none;
}
a.task{
  font-size: 18px;
  color: black;
}
#sort-btn {
  text-align: center;
}
.submit-form{
  text-transform: capitalize;
}
#category {
  font-size: 15px;
}
label{
  color: white;
}
.modal-content{
  background-color: black;
  text-align: center;
}
.submit-form{
  width: 60%;
}
input{
  margin: auto;
}
.col-sm-1, .col-sm-2, .col-sm-3 {
  padding: 0px 5px;
}
p{
  color: white;
  text-align: center;
}
.hidden-data {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.hidden-ul {
  padding: 0px;
  margin: 0px;
}
