.row {
  margin-bottom: 20px;
}
.glyphicon-ok {
  border: 1px solid;
  padding: 5px;
  border-radius: 50px;
  font-weight: 100;
  margin-right: 10px;
  opacity: 0.4;
}

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #d1d9e0;
}

.container-box {
  border-radius: 7px;
  background: white;
  box-shadow: 0px 0px 10px 10px;
  height: 100vh;
  padding-top: 20px;
}

.add-btn-txt:hover {
  text-decoration: none;
  color: white;
  background-color: #09A770;
}

.add-btn-txt {
  color: #09A770;
  border: 1px solid #09A770;
  border-radius: 3px;
  padding: 5px 7px;
  font-size: 15px;
}
.add-btn {
  margin-top: 20px;
}
.heading {
  text-align: center;
  padding: 20px;
}

.button:hover {
  text-decoration: none;
  color: white;
}
.edit{
  color: white;
  background-color: #09A770;
  border-radius: 15px;
  padding: 2px 20px;
  font-size: 15px;
  letter-spacing: 1px;
}
.delete{
  color: white;
  background-color: red;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
h4  {
  text-decoration: underline;
}
.submit-btn {
  margin-top: 15px
}
select {
  width: 32%;
}
.alert {
  margin-top: 20px;
}
.container li {
  list-style: none;
}
